body{
    height: 1000px;
    background-image: url(heart.jpg) ;
    /* background-size: no-repeat; */
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
   
   
}
.main{
    background-color: rgb(255,255,255,0.4);
    height: 200%;
    text-align: center ;
    margin: 30px;
    width: 95%;
}

@media screen and (max-width:800%){
    body,.main{
        width: 100%;
        max-width: 100%;
       
    }
}