//vars

$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$link-color:green;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

//nesting
nav{
    ul{
        margin:0;
        padding: 0;
        list-style: none;
    }
    li{
        display: inline-block;
        a{
            text-decoration: none;
        }
        a:visited{
            color: $link-color;
        }
    }
}

