.styling{
    color: gray;
    font-size: 2.9em;
    background-color: #02fcfc;
    width: 35%;
    border-radius: 20px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 4px;
    
}
.styling1{
    font-size: 2.9em;
    color:rgb(255,00,255);
    background-color: rgb(201,202,111,0.4);
    width: 35%;
    border-radius: 20px;
    text-align: center;
    margin: 0 auto;
}
.styling2{
    font-size: 2.9em;
    background-color: rgb(255,155,99,0.2);
    color: rgb(199,133,144);
    width: 35%;
    border-radius: 20px;
    text-align: center;
    margin: 0 auto;
    margin-top: 4px;
}
img{
    margin: 0 auto;
    margin-top: 10px;
    display: block;
}
p:hover{
    color: rgb(125,20,15,0.3);
    font-size: 3em;
    border:5px solid rgb(190,130,140);
    display: block;
    font-family: Godofwar;
    
   
}
img:hover{
    width: 500px;
    border: 2px solid gray;
    border-radius: 20px;

}
.main{
    height: 200px;
    width: 606px;
    background-color:rgb(120,120,61,0.5);
    border:1px solid black;
    margin: 0 auto;
    padding-left:40px ;
    padding-right: 40px;
    padding-top: 40px;
    
}
.main div{
    float: left;
    border:1px solid rgb(12,36,201); 
    width: 200px;
    height: 150px;
    box-sizing: border-box;
    padding: 40px;
    text-align: center;
    font-size: 70px;
}
.div1{
    background-color: red;
    margin-right: 2px; 
    
}
.div2{
    background-color:green;
    
    
}
.div3{
    background-color:blue;
    margin-left: 2px;
    
}
body{
    background-color: rgb(250,123,90,0.3);
        
}
.para1{
    display:inline;
    color: red;
}
.para2{
    display:block;
    color: red;
}
.para3{
    display:none;
    color: red;
}
.para4{
    display:inline-block;
    color: red;
}