///.header-title {
//  font-size: 2rem;
//}

.right{
    width: 0px;
    height: 0px;
    border-left: 200px solid white;
    border-right: 200px solid white;
    border-bottom: 200px solid blue;
  
}
.up{
    width: 0px;
    height: 0px;
    border-left: 200px solid white;
    border-right: 200px solid white;
    border-bottom: 200px solid blue;
  
}
.down{
    width: 0px;
    height: 0px;
    border-left: 200px solid white;
    border-right: 200px solid white;
    border-bottom: 200px solid blue;
  
}
.left{
    width: 0px;
    height: 0px;
    border-left: 200px solid white;
    border-right: 200px solid white;
    border-bottom: 200px solid blue;
  
}


@mixin phone {
  @media (min-width: 300px) {
    & {
      column-count: 1;
    }
    &:before {
      content: "for-Phone-only";
    }
  }
}
@mixin tablet() {
  @media (min-width: 600px) {
    & {
      column-count: 2;
    }
    &:before {
      content: "for-tablet-only";
    }
  }
}
// $breakpoints: (
//   phone: 300px,
//   tablet: 600px,
//   desktop: 900px
// );
// @mixin for-size($device) {
//   @if map-has-key($breakpoints, $device) {
//     @media (min-width:#{map-get($breakpoints, $device)}) {
//       @content;
//       &:before {
//         content: $device;
//       }
//     }
//   }
// }
$breakpoints2: (
  1: 300px,
  2: 600px,
  3: 900px,
  
);
@mixin for-size-all{
    @for $i from 1 through 3 {
      @media (min-width:#{map-get($breakpoints2, $i)}) {
        column-count: $i;
       border:#{$i*10}px solid green;
       background: #{rgba($i*109, $i*159,$i*7, 0.3)}



        

        
        
       
      }
    }
  }
  
.header-title {
//   font-size: 2rem;
//   //   @include phone;
//   //   @include tablet;
//   @include for-size("phone") {
//     column-count: 1;
//     color: blue;
//     font-size: 40px;
//   }
//   @include for-size("tablet") {
//     column-count: 2;
//   }
//   @include for-size("desktop") {
//     column-count: 3;
//   }
@include for-size-all;
}
// @media (min-width: 300px) {
//   .header-title {
//     column-count: 1;
//   }
//   .header-title:before {
//     content: "for-Phone-only";
//   }
// }
// @media (min-width: 600px) {
//   .header-title {
//     column-count: 2;
//   }
//   .header-title:before {
//     content: "for-Tablet-only";
//   }
// }
// @media (min-width: 1080px) {
//   .header-title {
//     column-count: 3;
//   }
//   .header-title:before {
//     content: "for-Desktop";
//   }
// }
