#one{
    width: 30%;
    height: 400px;
    background-color:blueviolet;
    text-align: center;
    margin: 0 auto;
}
#two{
    background-color: yellow;
    width: fit;
    padding: 40px;

}
#three{
    width: 100px;
    height: 100px;
    background: green;
    margin: 0 auto;
}
header{
    width: fit;
    height: 100px;
}
