
.responsive-h1{
font-size: 10vw;
}
.left{
    
}
@media screen and (max-width:500px){
    .nav{
        visibility: hidden;
    }
    .a{
        width: 100%;}
        .slide>img {
            width: 200px;
            height: 100%;
        }
    }