.header{
    background-color: lightblue;
    font-family: Verdana;
    text-align: center;
    color: blue;
    padding: 15px;
    font-size: 50px;
}
.menu{
    width: 20%;
    text-align: center;
   
   
}
.menu a{
display: block;
padding: 8px;
width: 100%;
background-color: lightgreen;
margin-top: 7px;
}
