:root{
    --txtcolor:rgb(252,159,188,0.8);
    --bgcolor:linear-gradient(to right,purple,lightblue,yellow,green);
    --div-height:500px;
    --border-radius:50px 0px 50px 0px;
    --color:rgb(22,55,99);
}
body{
    background: var(--bgcolor)
}
.main h1{
    color:var(--txtcolor);
    font-size: 3rem;
    
}
.main{
    --div-height:100px;
    /* the height here is 100px */
    background-color:brown;
    height: var(--div-height);
    border-radius:var(--border-radius);
    border: 12px solid black;

}
.mydiv{
    /* he height is here 500px */
    height: var(--div-height);
    background: lightblue;
    border-radius:var(--border-radius);
    font-size: 2.5em;
}
.new{
    padding: 40px;
    color:red;
}
#alert{
    --txtcolor:lightblue;
    border: 2px dotted black;
    font-size: 1.8rem;
}
#ok{
    --txtcolor:red;
    border:1px solid black;
    margin-top:50px;
    font-size: 1.8rem;
}
.btn{
    text-decoration: none;
    background: transparent;
    border: 2px solid black;
    padding: 15px;
    border-radius: 50px;
    margin: 10px;
    color:white;
}
.btn:hover{
    background-color: var(--color)
}
.red{
    background: red;
}
.blue{
    background: blue;
}
.green{
    background: green;
}
*{
    color:var(--txtcolor);
}