
*{
    box-sizing: border-box;
}
body{
    background-color: rgb(100,220,200,0.4)
}
img{
    float: left;
}
.article{
    float: left;
    width: 49%;
    border: 2px solid rgb(199,22,66);
    text-align: justify;
    padding: 15px;

}
#float{
    margin-right: 18px;
    max-width: 180px;
    width:50%;
}
#two{
    margin-left: 2%;
}
@media screen and (max-width:800px){
        .article,img{
            width: 100%;
            max-width: 100%;
        }


}