.App {
  text-align: left;
  
}
body{
  background: lightslategray;
}
p{
  width: 500px;
  margin: auto;
  text-align: left;
  
}
img{
  float: left;
  margin-left: 30px;
}
.Me{
  width: 500px;
margin: auto;
}
.Header{
  height: 120px;
  width: vw;
  border-bottom:2px solid beige;
}
li{
  float: left;
  list-style: none;
  font-size: 1.5rem;
  border-left:3px solid black;
  padding: 0px;
  margin: 0px;
  color: black;
  
}
a{
  text-decoration: none;
  margin: 5px;
  
}