.App {
  text-align: center;
  margin: 50px;
}
button{
  background:lightskyblue ;
  border-radius: 5px;
  color:white;
  padding: 15px;
  font-size: 20px;
}
input{
  padding: 15px;
  background: linen;
  border:1px solid black;
  border-radius:5px;
  font-size: 20px;
}
