*{
    box-sizing: border-box;
}

body{
    margin: 0 auto;
}

.header{
    text-align: center;
    background-color: black;
    padding: 60px;
    
  
}
.nav{
    background-color: rgb(00,00,00,0.8);
    display: flex;
    justify-content: center;
  
}
.nav a{
    color: aliceblue;
    text-decoration: none;
    padding: 14px 14px;
    text-align: center;
}
.nav a:hover{
    background-color: burlywood;

}
.footer{
    padding: 20px;
    text-align: center;
    background-color: black;
    color: white;
}
.rowimg{
   
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        display: -webkit-flex;
        -webkit-flex-wrap: wrap;
   
    
}
.rowimg div{
    flex: 25%;
    margin-top: 8px;
    padding-right: 8px;
    vertical-align: middle;
}
.rowimg div img{
    width: 100%;
    height: 100%;
}
@media screen and (max-width:800px){
    .rowimg div{
        flex: 50%;
        max-width: 50%;
    }
}
@media screen and (max-width:600px){
    .rowimg div{
        flex: 100%;
        max-width: 100%;
    }
}