*{
  box-sizing: border-box;
}
body{
  background: lightblue;
  font-family: arial;

}
.container{
  margin:0 auto;
  text-align: center;
  width: 70%;
  background-image: linear-gradient(to top,lightblue,green,lightblue);
  padding: 25px;
  


}
.container input[type="text"]:focus{
background-image: none;
width: 70%;
height: 50px;
font-size: 1.5em;

  
}
.container input{
  background-image: url(../../images/15.png);
  background-size: 15px;
  transition: all ease-in-out 400ms;
  
}
.p{
  text-align: left;
  margin-left: 170px;
 
  margin-bottom: 0%;
}
.container label{
  display:inline-block;
  border: 0px solid lightblue;
  width: 60%;
  text-align:left; 
  margin-top: 5px;

}
p{
  border: 0px solid green;
}

.container input , textarea{
  width: 60%; 
}
.container input[type="radio"]{
  width: 50px;
  margin-left: 0%;


}
.container input[type="checkbox"]{
  width: 10%;
 float: left;
  

}
.container textarea{
  padding: 20px 20px;
  resize: none;
  font-size: 1.5em;
  color: blue;
  margin-bottom: 5px;
}
.a{
  margin-left:175px;
  float: left;
  width: 400px;
  text-align: justify;
}

select{
  text-align: center;
  position:relative;
  margin-left: 100px;
  float: right;
  width: 100%;
}
@media only screen and (max-width:600px){
  .container, input , textarea,label,p,a{
    width: 100%;
  }
  .container p lable{
    text-align: left;
    font-size: 0.8em;
    width: 100%;
    text-transform: uppercase;
    font-weight: 200;

  }
  .container p{
    font-size: 1em;
  }
  .container a,input[type="checkbox"]{
    margin-left: 0%;}
    .a{
      width: 50%;
    }
    
} 