.item{
    border: 1px solid white;
    padding: 50px;
    background: green;
    text-align: center;
    


}
.header{
    grid-area: el_header;
    
}
.left{
    grid-area: el_left;
}
.center{
    grid-area: el_center;
}
.right{
    grid-area: el_right;
}
.footer{
    grid-area: el_footer;
}
.grid{
    display: grid;
    grid-template-areas: 
    "el_header el_header el_header"
    "el_left el_center el_right"
    "el_footer el_footer el_footer"
}
@media all and (max-width:700px){
    .grid{
        grid-template-areas: 
        "el_header el_header"
        "el_left el_right"
        "el_center el_center"
        "el_footer el_footer"
    }
}
@media all and (max-width:400px){
    .grid{
        grid-template-areas: 
        "el_header"
        "el_left "
        "el_center"
        "el_right"
        "el_footer"
    }
}

ul{
    list-style: none;
    text-align: left;
}
.menu li{
    display: block;
    float: left;
    padding: 15px;
    border: 1px solid black;
    background: lightgreen;
    border-radius: 15px;
    color: black;
}
.menu li:hover{
    padding: 20px;
    transform: rotateX(45deg) rotateY(-5deg);
}