.room{
    width: 300px;
    height: 300px;
    border: 3px solid blue;
    color: aliceblue;
    font-size: 40px;
    margin: 50px;
   
   
}
.object{
    
    width: 300px;
    height: 300px;
    transform: rotateZ(45deg);
    background: blueviolet;
    
}
