.a{
    background: gray;
    color: aliceblue;
    border:3px solid black;
    padding: 25px;
    font-size: 30px;
    text-align: center;
}
.main{
    display: grid;
    background-color:blue;
    padding: 10px;
    grid-template-columns: repeat(7, minmax(170px, auto));
   
}
.f{
    background: rgb(231, 14, 14)}


.w{
    background: yellow;
    color: black
}
.b{
    color:black;
}
.n{
    filter: opacity(80%);
}
@media screen and (max-width:800px){
    .main, .a{   
        grid-template-columns: repeat(7, minmax(170px,auto));}
        
}
h1{
    text-align: center;
}