input[type='text'],
input[type='password'],
input[type='date'],select,
input[type='number'],
input[type='file']
{
    width: 90%;
    padding: 15px;
    display: inline-block;
    background: lightgreen;
   
}
label{
    width: 90%;
    padding: 15px;
    display: inline-block;
    background: white;
    font-weight: bold;
}
.Registeration{
background: lightcoral;
color:white;
padding: 16px 20px;
font-weight: bolder;
width: 500px;
cursor: pointer;
}
.Registeration:hover{
    opacity: 1;

}