.styling{
    color: gray;
    font-size: 4.9em;
    background-color: #02fcfc;
}
.styling1{
    font-size: 4.9em;
    color:rgb(255,00,255);
    background-color: rgb(201,202,111,0.4);
}
.styling2{
    font-size: 4.9em;
    background-color: rgb(255,155,99,0.2);
    color: rgb(199,133,144)
}
p:hover{
    color: rgb(125,20,15,0.3);
    font-size: 5em;
    border:5px solid rgb(190,130,140)
}
body{
    background-color: rgb(250,123,90,0.1)
}