
*{
    box-sizing: border-box;
}
.one{
    background-color: black;
    border:1px solid green;
    border-radius: 100%;
    z-index: -1;
   
    
}
.two{
    background-color: blue;
    border:1px solid green;
    border-radius: 100%;
    z-index: 3;
    margin: 0 auto;
    position: absolute;
    top:52px;
    left: 48px;
}
.three{
    background-color: blue;
    border:1px solid green;
    border-radius: 100%;
    z-index: 4;
    margin: 0 auto;
    position: absolute;
    top:50px;
    left:50px;
}
.four{
    background-color: blue;
    border:1px solid green;
    border-radius: 100%;
    z-index: 5;
    margin: 0 auto;
    position: absolute;
    top:50px;
    left:50px;

}
.five{
    background-color: red;
    border:1px solid green;
    border-radius: 100%;
    z-index: 6;
    margin: 0 auto;
    position: absolute;
    top:50px;
    left:50px;
}
.six{
    background-color: red;
    border:1px solid green;
    border-radius: 100%;
    z-index: 7;
    margin: 0 auto;
    position: absolute;
    top:48px;
    left:52px;
}
.seven{
    background-color: yellow;
    border:1px solid green;
    border-radius: 100%;
    z-index: 8;
    margin: 0 auto;
    position: absolute;
    top:50px;
    left:50px;
}
.eight{
    background-color: yellow;
    border:1px solid green;
    border-radius: 100%;
    z-index: 9;
    margin: 0 auto;
    position: absolute;
    top:50px;
    left:50px;
}
.nine{
    background-color: white;
    border:1px solid green;
    border-radius: 100%;
    z-index: 1;
    margin: 0 auto;
    position: absolute;
    top:60px;
    left:55px;
}
.ten{
    background-color: black;
    border:1px solid green;
    border-radius: 100%;
    z-index: 2;
    margin: 0 auto;
    position: absolute;
    top:50px;
    left:50px;
}
